{namespace rgdvo=RGU\Dvoconnector\ViewHelpers}

<rgdvo:Announcement associationID="{associationID}" announcementID="{announcementID}" as="announcement" insideAssociationID="{settings.associationID}">

  <f:render partial="Header/Announcement" arguments="{announcement: announcement}"/>
  <f:render partial="Announcement" arguments="{detailPid: settings.additional.detailPid, announcement: announcement}"/>

  <f:link.action pageUid="{settings.additional.listPid}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</f:link.action>

  <f:render partial="DvoLink/Announcement" arguments="{announcement: announcement, linkdvo: settings.additional.linkdvo}"/>


</rgdvo:Announcement>
