{namespace rgdvo=RGU\Dvoconnector\ViewHelpers}

<rgdvo:Functionary associationID="{associationID}" functionaryID="{functionaryID}" as="functionary" insideAssociationID="{settings.associationID}">

  <f:render partial="Header/Functionary" arguments="{functionary: functionary}"/>
  <f:render partial="Functionary" arguments="{detailPid: settings.additional.detailPid, functionary: functionary}"/>
  <f:link.action pageUid="{settings.additional.listPid}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Zurück</f:link.action>

  <f:render partial="DvoLink/Functionary" arguments="{functionary: functionary, linkdvo: settings.additional.linkdvo}"/>

</rgdvo:Functionary>
