{namespace rgdvo=RGU\Dvoconnector\ViewHelpers}

<rgdvo:Announcements associationID="{associationID}" as="announcements" childs="{filter.childs}" text="{filter.text}" startDate="{filter.startDate}" endDate="{filter.endDate}" zipStart="{filter.zipStart}" zipEnd="{filter.zipEnd}" location="{filter.location}" insideAssociationID="{settings.associationID}">

  <f:widget.paginate objects="{announcements.announcements}" as="paginatedAnnouncements" configuration="{itemsPerPage: settings.pagination.itemsPerPage, insertAbove: settings.pagination.insertAbove, insertBelow: settings.pagination.insertBelow, maximumNumberOfLinks: settings.pagination.maximumNumberOfLinks}">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Erstelldatum</th>
            </tr>
        </thead>
        <tbody>
          <f:for each="{paginatedAnnouncements}" as="announcement" iteration="iterator">
            <tr>
                <td><f:link.action pageUid="{settings.additional.detailPid}" action="detailAnnouncement" arguments="{anID: announcement.id}">{announcement.title}</f:link.action></td>
                <td><f:format.date format="d.m.Y">{announcement.createdDate}</f:format.date></td>
            </tr>
          </f:for>
        </tbody>
    </table>
  </f:widget.paginate>

</rgdvo:Announcements>
